{% load static %}
  <!-- Site wrapper -->
<div class="wrapper">
<nav class="main-header navbar navbar-expand navbar-cyan navbar-light layout-fixed">
    {% block leftnav %}
    <ul class="navbar-nav">
      {% comment %} {% comment %} <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li> {% endcomment %} 
      <li class="nav-item d-none d-sm-inline-block">
        <a class="btn btn-info btn-block p-1  nav-link">
          {% block project %}
          <div class="container m-auto my-2 ">
            <h1  style='font-size:36'>Workshop Management System 
           
          </div> 
          {% endblock project %}
            
        </a>
      </li>
     
    </ul>
    {% endblock leftnav %}


      
      {% block rightnav %}
        <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        
          
        
        {% if not user.is_authenticated %}
        <a style='border-radius:15% ' href="{% url 'workshop:custom_login' %}"  class="btn-block btn-lg btn-secondary"> Login</a>
        {% else %}
        <section class="ftco-section">
          <div class="container ml-3">
           
            <div class="row justify-content-center">
    
              <div class="col-md-6 d-flex justify-content-center">
                <div class="btn-group">
                  <a href="#" class="btn-img img dropdown-toggle rounded-circle" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          
              
                    
                      <img class='profile-user-img rounded-circle sm' src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
              
                    
                      <div class='btn text-white'>{{ user.first_name }} {{ user.last_name }}</div>
                    
                  
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="icon d-flex align-items-center justify-content-center mr-3">
                      
                      </div>
                      Change Password
                      <section class="ftco-section"></a>
                    
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="icon d-flex align-items-center justify-content-center mr-3">
                        
                      </div> 
                      Edit profile
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'workshop:logout' %}">
                      <div class="icon d-flex align-items-center justify-content-center mr-3">
                        
                      </div> 
                      Logout
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endif %}       
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        </ul>
    </nav>
  </div>

      {% endblock rightnav %}