{% load static %}
{% block sidebar %}
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {% comment %} <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="{% static 'dist/img/logoM.png' %}" alt="AdminLTELogo" height="60" width="60">
    </div> {% endcomment %}
<aside class="main-sidebar sidebar-dark-primary elevation-4 fixed">
   <!-- Brand Logo -->
   <a href="{% url 'workshop:index' %}" class="brand-link">
    <img src="{% static 'dist/img/logoM.png' %}" alt="MOTI Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">ME</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-home"></i>
            <p>
              WSMS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'workshop:chart' %}" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'workshop:user' %}" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'workshop:item' %}" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Items</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'workshop:component' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Components</p>
              </a>
              <li class="nav-item">
                <a href="{% url 'workshop:section' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sections</p>
                </a>
                <li class="nav-item">
                  <a href="{% url 'workshop:assignment' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Assignments</p>
                  </a>
          </ul>
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-repeat"></i>
              <p>
                Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="{% url 'workshop:report' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Report</p>
                      </a> 
              </li>
            </ul>
        </li> 
</aside>
</div>
</body>

{% endblock sidebar %}
  
