<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
   {% if user.is_authenticated %}
   <a href="{% url 'workshop:chart' %}" class="brand-link">
    <img src="{% static 'dist/img/logoM.png' %}" alt="MOTI Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">MOTI ENGINEERING</span>
  </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               {% if user.view_dashboard %}
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ chart_url }}" 
                class="nav-link {% if request.path == chart_url %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v3</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                WSMS
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">6</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
                {% if  user.view_user%}
              <li class="nav-item">
                <a href="{{ user_url }}"
                class="nav-link {% if request.path == user_url %}active{% endif %}"> 
                  <i class="far fa-circle nav-icon"></i>
                  <p>Users</p>
                </a>
              </li>
              {% endif %}
              {% if user.view_item %}
              <li class="nav-item">
                <a href="{{ item_url }}" 
               class="nav-link {% if request.path == item_url %}active{% endif %}"> 
                  <i class="far fa-circle nav-icon"></i>
                  <p>Items</p>
                </a>
              </li>
               {% endif %}
               {% if user.view_section %}
              <li class="nav-item">
                <a href="{{ section_url }}" 
              class="nav-link {% if request.path == section_url %}active{% endif %}">  
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sections</p>
                </a>
              </li>

              {% endif %}

              {% if user.view_assignment %}
              <li class="nav-item">
                <a href="{{ assignment_url }}"
                class="nav-link {% if request.path == assignment_url %}active{% endif %}"> 
                  <i class="far fa-circle nav-icon"></i>
                  <p>Assignments</p>
                </a>
              </li>
             {% endif %}
            </ul>
          </li>


          
          {% if user.view_report %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ report_url }}" class="nav-link {% if request.path == report_url %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Table</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ an_url }}" class="nav-link {% if request.path == an_url %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Charts</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ stock_url }}" class="nav-link {% if request.path == stock_url %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Item per Stock</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ section_url }}" class="nav-link {% if request.path == section_url %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Item per Section</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ eng_url }}" class="nav-link {% if request.path == eng_url %}active{% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Item per Engineer</p>
                </a>
              </li>
            </ul>
          </li>


        {% endif %}
         
     
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    {% endif %}
    <!-- /.sidebar -->
  </aside>
