{% extends "./base1.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">
  <form method="post" autocomplete='off' class='card p-3 mt-5 bg-light'>

    <div class="container card p-1 mt-0 text-center border-primary bg-gray">
      <h3> Add Item </h3>
    </div>

    {% csrf_token %}
    
    <div class="row">
      <div class="col-4">
        <div class="form-floating mb-3 mt-3">
          {{ form.Section|as_crispy_field }}
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating mb-3 mt-3">
          {{ form.stock_id|as_crispy_field }}
        </div>
      </div>

      <div class="col-4">
        <div class="form-floating mb-3 mt-3">
           {{form.Serial_no|as_crispy_field }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="form-floating mb-3 mt-3">
          {{ form.received_by|as_crispy_field }}
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating mb-3 mt-3">
          {{ form.region|as_crispy_field }}
        </div>
      </div>
      <div class="col-4">
        <div class="form-floating mb-3 mt-3">
          {{ form.district|as_crispy_field }}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="form-floating mb-3 mt-3"> {{form.remark|as_crispy_field}} </div>
      </div>
    </div>

    <div class="col-4">
      <button type="submit" class="btn btn-primary btn-md" style='border-radius:10%'>Add The Item</button>
    </div>

  </form>
</div>

<script>
  $(document).ready(function(){
    $('.select2').select2({
      ajax: {
        url: '{% url "workshop:stock_search" %}',
        dataType: 'json',
        delay: 250,
        processResults: function(data){
          return {
            results: data.results
          };
        },
        cache: true
      },
      minimumInputLength: 1
    });
  });
</script>

{% endblock content %}
