{% extends "./base1.html" %}

{% block content %}
<div class="container mt-3">
<form class='card mt-3' method="POST" action="{% url 'workshop:complete' assign.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="is_maintainable" name="is_maintainable">
      <label class="form-check-label" for="is_maintainable">Is maintainable?</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
    