{% extends "./base1.html" %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">

                    <thead class="table-info">
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                      <tbody>
                        {% for data in users %}
                          <tr>
                              <td>{{data.first_name}}</td>
                              <td class="text-right">{{data.last_name}}</td>
                              <td class="text-right">{{data.user_name}} </td>
                              <td class="text-right">
                                <button class="btn-success mx-5">View</button>
                        
                        
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% endblock content %}
    

