<!-- workshop/templates/workshop/user_dashboard.html -->

{% extends 'workshop/base1.html' %}

{% block content %}

<div class="container">
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ item_count }}</h3>
                    <p>Items</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ section_count }}<sup style="font-size: 20px"></sup></h3>
                    <p>Total Completed Item</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ user_count }}</h3>
                    <p>Total Remaining Items</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{ component_count }}</h3>
                    <p>Total Damaged Items</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <!-- Item Status Chart -->
    <!-- Item Status Chart -->
    <div class="row">
        <!-- Item Status Chart -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color: lime;">
                    <h3 class="card-title" style="display: inline-block; color:white">
                        Item Status
                    </h3>
                    <!-- Add the plus/minus sign icons -->
                    <div style="float: right; cursor: pointer;" class="toggle-chart">
                        <i class="fa fa-minus"></i> <!-- You can replace this with your minus icon -->
                    </div>
                </div>
                <div class="card-body chart-container">
                    {{ chart_html|safe }}
                </div>
            </div>
        </div>
    
        <!-- Number of Items per Section Chart -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color: blue;">
                    <h3 class="card-title" style="display: inline-block; color:white">
                        Number of Item per Section
                    </h3>
                    <!-- Add the plus/minus sign icons -->
                    <div style="float: right; cursor: pointer;" class="toggle-chart1">
                        <i class="fa fa-minus"></i> <!-- You can replace this with your minus icon -->
                    </div>
                </div>
                <div class="card-body chart-container1">
                    {{ chart_html1|safe }}
                </div>
            </div>
        </div>
    </div>
    

    
  
    
    <!-- Section Item Chart -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background-color: pink;">
                    <h3 class="card-title" style="display: inline-block; color:white;">
                        Items per Section and Status
                    </h3>
                    <div style="float: right; cursor: pointer;" class="toggle-chart2">
                        <i class="fa fa-minus"></i> <!-- You can replace this with your minus icon -->
                    </div>
                </div>
                <div class="card-body chart-container2">
                    {{ plot_div|safe }}
                </div>
            </div>
        </div>
    </div>




</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function toggleChart(canvasId, iconId) {
        // Your toggle chart logic here
    }
</script>
<script>
    $(document).ready(function () {
        // Show the chart initially
        $(".chart-container").show();

        // Toggle the chart visibility on plus/minus sign click
        $(".toggle-chart").click(function () {
            $(".chart-container").toggle();
            // Change the icon based on visibility
            if ($(".chart-container").is(":visible")) {
                $(this).html('<i class="fa fa-minus"></i>'); 
            } else {
                $(this).html('<i class="fa fa-plus"></i>'); 
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Show the chart initially
        $(".chart-container1").show();

        // Toggle the chart visibility on plus/minus sign click
        $(".toggle-chart1").click(function () {
            $(".chart-container1").toggle();
            // Change the icon based on visibility
            if ($(".chart-container1").is(":visible")) {
                $(this).html('<i class="fa fa-minus"></i>'); 
            } else {
                $(this).html('<i class="fa fa-plus"></i>'); 
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Show the chart initially
        $(".chart-container2").show();

        // Toggle the chart visibility on plus/minus sign click
        $(".toggle-chart2").click(function () {
            $(".chart-container2").toggle();
            // Change the icon based on visibility
            if ($(".chart-container2").is(":visible")) {
                $(this).html('<i class="fa fa-minus"></i>'); 
            } else {
                $(this).html('<i class="fa fa-plus"></i>'); 
            }
        });
    });
</script>


{% endblock %}