
{% extends "./base1.html" %}
  
  
  {% block title %}
    <title>Item List </title>
  {% endblock title %} 
    



  
{% block content %}




    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="container mt-2"> 
    <a class="btn btn-warning" href="{% url 'workshop:create-item' %}">
  
        <span class="fa fa-plus">
         &nbsp;&nbsp; Add Item
        </span>
      </a>
    </div>
            <div class="card">
              <div class="card-header">
                <h2 class="container mx-5 card-title">List of Unassigned Items</h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">

                
                      <thead class="dataTables_info">
                        <tr>
                          <th>Received Date</th>
                          <th>Stock Id</th>
                          <th>Serial Number</th>
                          <th>Status</th>
                          <th>Acceped</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                       
                        {% for data in items %}
                        <tr>
                        <td> {{data.received_date}}</td>
                        <td>{{data.stock_id}}</td>
                        <td>{{data.Serial_no}}</td>
                        <td>{{data.status}}</td>
                        <td>{{data.is_accepted}}</td>
                        <td >
                        {% if data.status == 'pending' %}
                        <a style='border-radius:10%' class="btn btn-success btn-sm" 
                        href="{% url 'workshop:create-assignment' data.id %}">
                        <span class="fa fa-address-book">
                        Assign
                        </span>
                        </a>
                        {% else %}
                        <a style='border-radius:10%' class="btn btn-success btn-sm disabled" >Assigned</a>
                        {% endif %}
                        <a style='border-radius:10%' class="btn btn-danger btn-sm" href="{% url 'workshop:item_delete' data.id%}" >
                          <span class="fa fa-trash"> Delete </span>
                       
                        </a>
                        </td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>




{% endblock content %}
    

