<!-- password_reset.html -->
{% extends 'base1.html' %}

{% block content %}
    <h1>Password Reset</h1>
    <p>Hello {{ user.first_name }},</p>
    <p>You requested to reset your password. Please enter your new password below:</p>
    
    <form method="post" action="{% url 'password_reset' token=user.reset_token %}">
        {% csrf_token %}
        
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required>
        
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
