{% extends "./base1.html" %} {% block title %}
<title>Report</title>

{% endblock title %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Report Tables</h1>
        </div>
        
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">

                
                    <thead class="dataTables_info">
                      <tr>
                        <th>#</th>
                        <th>Workshop Id</th>
                        <th>Received Date</th>
                        <th>Stock Id</th>
                        <th>Serial Number</th>
                        
                        <th>Delivered By</th>
                        <th>Received By</th>
                        <th>Maintained Date</th>
                        <th>Maintained By</th>
                        <th>Conponents</th>
                        <th>Received Item Isue</th>
                        <th>Delivered Item Isue</th>
                        <th>Is maintainable</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for assignment in assignments %}
                          <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ assignment.item.ws_id }}</td>
                              <td>{{ assignment.item.received_date }}</td>
                              <td>{{ assignment.item.stock_id }}</td>
                              <td>{{ assignment.item.Serial_no }}</td>
                              <td>{{ assignment.item.delivered_by }}</td>
                              <td>{{ assignment.item.received_by }}</td>
                              <td>{{ assignment.completed_date }}</td>
                              <td>{{ assignment.engineer }}</td>
                              <td>
                                  <ul>
                                      {% for component in assignment.components %}
                                          <li style='list-style:none '>{{ component.Serial_no }}</li><br>
                                      {% endfor %}
                                  </ul>
                              </td>
                              <td>{{ assignment.item.remark }}</td>
                              <td>{{ assignment.item.comment }}</td>
                              <td>{{ assignment.item.is_maintainable }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>   </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->



          {% endblock content %}
      
