







  


{% extends "./base1.html" %}
 
{% block title %}
<title>Section Lists</title>

{% endblock title %}
{% block content %}


  
  



  

    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="container mt-2"> 
    <a class="btn btn-warning" href="create-section">
  
        <span class="fa fa-plus">
          &nbsp;&nbsp; Add Section
        </span>
      </a>
    </div>

            <div class="card">
              <div class="card-header">
                <h2 class="container mx-5 card-title">List of Sections</h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">

                
                  <thead class="dataTables_info">
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Manager</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in sections %}
                    <tr>
                      <td>{{data.id}}</td>
                      <td>{{data.name}}</td>
                      <td>{{data.manager}}</td>
                      <td>
                        <a class="btn btn-danger btn-sm" href="{% url 'workshop:section-delete' data.id%}" >
                          <span class="fa fa-trash">
                           Delete
                          </span>
                     </a>
                    </tr>
                    {% endfor %}
                  </tbody>
                    </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <div class="modal fade" id="modal-danger">
      <div class="modal-dialog">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title">Warining</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you want to delete this Section&hellip;</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
            <a class="btn btn-outline-light" href='#'>Delete</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

{% endblock content %}
    




