{% extends "./base1.html" %}
{% block title %}
    <title>Number of Item per Stock</title>
{% endblock title %}

{% block content1 %}
<div class="container mt-1">
    <form method="get" action="{% url 'workshop:section_item_list' %}">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
    
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
    
        <button type="submit">Filter</button>
    </form>
 
</div>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock content1 %}
{% block content %}
    <div class="container mt-1">

       

      

        <div class="card m-3">
            <div class="card-header">
                <h2 class="container mx-5 card-title"> Number of Item per Section</h2>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">

                    <thead class="dataTables_info">
                    <tr>
                        <th>link</th>
                        <th>Section</th>
                        <th>Total </th>
                        <th>Completed </th>
                        <th>Damage </th>
                        <th>Remain </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for section in sections %} 

                    <tr>
                        <td><a class='btn btn-info btn-sm ' style='border-radius:10%'
                            href="{% url 'workshop:section_item_detail' section.id %}"> <span class='fas fa-eye'>list Item</span></a></td>
                        <td>{{ section.name }}</td>
                        <td>{{ section.total_items }}</td>
                        <td>{{ section.completed_items }}</td>
                        <td>{{ section.damage_items }}</td>
                        <td>{{ section.pending_items }}</td>
                    </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock content %}
