{% extends "./base1.html" %}


{% block title %}


<title>List of Users</title>

{% endblock title %}


{% block content1 %}
<div class="container mt-2"> 
    <a class="btn btn-warning" href="user/register">
    
    
    <span class="fa fa-plus">
    &nbsp;&nbsp; Add User
    </span>
    </a>
</div> 
    <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
    </div> 
    
{% endblock content1 %}
    

{% block content %}
<div class="container mt-2"> 
        <section class='container-fluid mt-3'>
                <!-- Content Wrapper. Contains page content -->



                <div class="card">
                    <div class="card-header">
                       </h2 class="container mx-5 card-title">List of usres</h2>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example3" class="table table-bordered table-striped">

                            <thead class="table-info-box">
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>

                                    {% if user.is_admin %}
                                    
                                        <th>give role</th>
                                        <th>Remove</th>
                                        
                                    {% endif %}

                                </tr>
                            </thead>
                            <tbody>
                            
                                {% for data in user_list %}
                                    <tr>


                                        <td>{{data.first_name|upper}}</td>
                                        <td>{{data.last_name|upper}}</td>
                                        <td>{{data.user_name}} </td>

                                            {% if user.is_admin %}
                                                <td>
                                                    <a class="btn btn-info btn-outline-light btn-sm" href="{% url 'workshop:assign_role' data.id %}">
                                                        <span class="fa fa-aws">
                                                            Assign Role
                                                        </span>
                                                    </a>
                                                        
                                                </td>


                                                <td >
                                                    <a style='border-radius:10%' class="btn btn-danger btn-sm" href="javascript:void(0)"
                                                    data-toggle="modal"
                                                    class="confirm-accept"
                                                    data-url="{% url 'workshop:delete-user' data.id %}"
                                                    
                                                    data-target="#acceptItemModal"
                                                    data-message="Are you Sure to delete {{data.first_name}}  ?">
                                                    <i class="far fa-trash-alt"></i>
                                                    <span>Deactivate</span></a>
                                                
                                                </td>
                                        </td> 
                                            {% endif %}
                                    

                                    
                                    
                                    </tr>



                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
        </section>
    </div>
{% endblock content %}


