<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Workshop Management System</title>
    {% endblock title %}
</head>
  {% include './component/static.html' %}
<body>
  {% include './component/sidebar.html' %}
       {% include './component/navbar.html' %}
         
         {% block content %}
         
         {% block dashbord %}
          
         {% endblock dashbord %}
          
          
         {% endblock content %}

         {% include "workshop/accept_form.html" %}
          {% include "workshop/modal.html" %} 
         {% include "workshop/confirm_modal.html" %}
</body>
</html>